@model IEnumerable<Sessie>
@{
    ViewData["Title"] = "Sessies";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<h2 style="text-align: center">@ViewData["Title"]</h2>

<div class="row">
    @foreach (var sessie in Model)
    {
        <div class="col-md-6 col-lg-4 cpm-xs-12 pb-3">
            <div class="card" style="height: 17em;">
                <div class="card-header">
                    <div class="card-title" style="height: 3em; text-align: center;">
                        <h4>@sessie.Titel</h4>
                    </div>
                </div>
                <div class="card-body" style="text-align: center;">
                    <p><strong>@sessie.StartUur.ToShortDateString()</strong> | <i>@sessie.StartUur.ToShortTimeString() - @sessie.EindeUur.ToShortTimeString()</i></p>
                    <p>Aantal plaatsen: @sessie.MaximumAantalPlaatsen</p>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <div class="" role="group">
                        <button type="submit" class="btn btn-secondary" asp-controller="Sessie" asp-action="ToonInfoSessie" asp-route-id="@sessie.SessieId"><i class="fas fa-info-circle"></i></button>
                        <button type="submit" class="btn btn-secondary" asp-controller="Sessie" asp-action="SchrijfIn" asp-route-id="@sessie.SessieId"><i class="far fa-calendar-plus"></i></button>
                        <button type="submit" class="btn btn-secondary" asp-controller="Sessie" asp-action="SchrijfUit" asp-route-id="@sessie.SessieId"><i class="far fa-calendar-minus"></i></button>
                    </div>
                    </div>
            </div>
        </div>
    }
</div>