@model IEnumerable<Sessie>
@{
    ViewData["Title"] = "Sessies";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<h2>@ViewData["Title"]</h2>

<div class="row">
    @foreach(var sessie in Model)
    {
    <div class="col-md-6 col-lg-4 cpm-xs-12 pb-3">
        <h4>@sessie.Titel</h4>
        <p>@sessie.StartUur.ToShortDateString()</p>
        <p>@sessie.StartUur.ToShortTimeString() - @sessie.EindeUur.ToShortTimeString()</p>

        <button type="submit" class="btn btn-secondary" asp-controller="Sessie" asp-action="ToonInfoSessie" asp-route-id="@sessie.SessieId">Details</button>
        <button type="submit" class="btn btn-secondary" asp-controller="Sessie" asp-action="SchrijfIn" asp-route-id="@sessie.SessieId">Inschrijven</button>
        <button type="submit" class="btn btn-secondary" asp-controller="Sessie" asp-action="SchrijfUit" asp-route-id="@sessie.SessieId">Uitschrijven</button>

    </div>
    }
</div>

