@model IEnumerable<Sessie>
@{
    ViewData["Title"] = "Sessies";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<h2>@ViewData["Title"]</h2>

<div class="row">
    @foreach(var sessie in Model)
    {
    <div class="col-md-6 col-lg-4 cpm-xs-12 pb-3">
        <h4>@sessie.Titel</h4>
        <p>@sessie.Beschrijving</p>
        <p>@sessie.Lokaal</p>
        <p>@sessie.Academiejaar.AcademieJaar</p>
        <p>@sessie.StartUur.ToShortDateString()</p>
        <p>@sessie.StartUur.ToShortTimeString() - @sessie.EindeUur.ToShortTimeString()</p>

        <button type="button" class="btn btn-secondary">Details</button>
        
        <button type="submit" class="btn btn-primary btn-block" value="Inschrijven" style="margin: 5px">Inschrijven</button>

    </div>
    }
</div>

