@model Sessie
@{
    ViewData["Title"] = "Sessie";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<h2>@ViewData["Title"]</h2>

    @Model
    {
        <h4>@Model.Titel</h4>
        <p>@Model.Beschrijving</p>
        <p>@Model.Lokaal</p>
        <p>@Model.Verantwoordelijke.Naam</p>
        <p>@Model.MaximumAantalPlaatsen</p>
        <p>@Model.NaamGastSpreker</p>
        <p>@Model.Academiejaar.AcademieJaar</p>
        <p>@Model.StartUur.ToShortDateString()</p>
        <p>@Model.StartUur.ToShortTimeString() - @Model.EindeUur.ToShortTimeString()</p>

        <button type="submit" class="btn btn-primary btn-block" value="Inschrijven" style="margin: 5px">Inschrijven</button>

    </div>
    }
</div>